:host {

}

.form-container{
  display: block;
  width: 500px;
  max-width: 80vw;
  margin: 0 auto;
}

input{
  width: 250px;
}
textarea{
  width: 500px;
  max-width: 80vw;
}

.form-element-container{
  display: table;
  text-align: center;
}
.md-form{
  display: inline-block;
}
