h1 {
  font-family: 'Noto Serif', serif, bold;
  font-size: 2rem;
  color: #333333;
  padding-bottom: 20px;
}

h1 span{
  color: #d63c37;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  color: #666666;
}

:host {
  display: inline-block;
}
